/*================================================
 *  �O���[�o���i�r�Q�[�V����
 ================================================*/

@media print,
screen and (min-width:800px) {
    nav {
        z-index: 3;
        background-color: #fff;
    }

    nav a {
        display: block;
    }

    nav ul a:hover {
        opacity: 1;
    }

    /* ���� */
    nav ul {
        margin: 0;
        padding: 0;
    }

    nav ul li {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav ul li a {
        display: block;
        margin: 0;
        padding: 16px 0;
        color: #666;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
    }

    nav ul li:hover>a {
        color: #fff;
        background-color: #9d9477;
    }

    /* 1�i�� */
    nav ul.gnav>li {
        position: relative;
        width: 16%;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
    }

    nav ul.gnav>li:first-child {
        width: 16%;
    }

    nav ul.gnav>li.subnav a {
        padding-right: 20px;
    }

    nav ul.gnav>li.subnav>a:after {
        position: absolute;
        content: "";
        top: 20px;
        width: 0;
        height: 0;
        margin-left: 10px;
        border: 5px solid transparent;
        border-top-color: #666;
    }

    /* 2�i�� */
    nav ul li ul {
        position: absolute;
        z-index: 3;
        top: 100%;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav ul li ul li {
        overflow: hidden;
        width: 100%;
        height: 0;
        color: #fff;
        transition: .2s;
    }

    nav ul li ul li a {
        padding: 13px 15px;
        text-align: left;
        background: #f2f2d3;
        font-weight: normal;
    }

    nav ul li:hover>ul>li {
        overflow: visible;
        height: 40px;
        border-bottom: 1px solid #fff;
    }

    nav ul li:hover ul li:last-child {
        border-bottom: none;
    }

    nav ul.gnav>li:last-child>ul {
        left: -50%;
    }

    nav ul li ul li ul:before {
        position: absolute;
        content: "";
        top: 13px;
        left: -20px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left-color: #fff;
    }

    nav ul.gnav>li:last-child ul li ul:before {
        position: absolute;
        content: "";
        top: 13px;
        left: 200%;
        margin-left: -20px;
        border: 5px solid transparent;
        border-right-color: #fff;
    }

    nav ul.gnav>li:last-child ul li ul:before {
        position: absolute;
        content: "";
        top: 13px;
        left: 200%;
        margin-left: -20px;
        border: 5px solid transparent;
        border-right-color: #fff;
    }

    .gnav {
        display: block !important;
    }

    #spMenu {
        display: none;
    }

    .fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
}


/*================================================
 *  �h�����[���j���[�ҏW
 ================================================*/


.sp-tel {
    display: none;
}


button {
    margin-top: 10px;
    margin-right: 10px;
}

button.drawer-hamburger {
    background-color: #d9cdbf;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

button.drawer-hamburger:hover {
    background-color: #d9cdbf;
}

.drawer-menu li {
    line-height: 2;
    border-bottom: 1px dotted #666;
    padding: 15px 10px;
}

.drawer-menu li:hover {
    background-color: #9d9477;
}

.drawer-menu a:hover {
    color: #fff;
}

.drawer-menu a {
    display: block;
}

.nav_sp {
    background-color: #9d9477;
}

.subnav_sp {
    background-color: #f6f6e9;
}


/*================================================
 *  �X�}�[�g�t�H�������f�U�C��
 ================================================*/

@media (max-width: 800px) {
    .sp-tel {
        display: block;
        position: fixed;
        top: 10px;
        right: 65px;
    }

    .sp-tel img {
        width: 27px;
        background: #ffb6c1 !important;
        padding: 8px;
        border-radius: 7px;
    }
}