    @charset "UTF-8";
    .nmn_img {
        text-align: center;
    }
    
    .nmn_flex {
        display: flex;
    }
    
    .effect_list {
        width: 120%;
    }
    
    @media screen and (min-width:800px) {
        .nmn_top_img {
            width: 30%;
        }
    }