<div id="calendar_component" class="calendar_box">

    <div class="calendar_box_left">
        <table class="calendar">
            <caption class="calendar_monthly">2022年03月</caption>
            <thead>
                <tr>
                    <th>日</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th>土</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--日-->
                    <td class="calendar_sunday"></td>
                    <!--月-->
                    <td></td>
                    <!--火-->
                    <td>1</td>
                    <!--水-->
                    <td>2</td>
                    <!--木-->
                    <td>3</td>
                    <!--金-->
                    <td>4</td>
                    <!--土-->
                    <td>5</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">6</td>
                    <!--月-->
                    <td>7</td>
                    <!--火-->
                    <td>8</td>
                    <!--水-->
                    <td>9</td>
                    <!--木-->
                    <td>10</td>
                    <!--金-->
                    <td>11</td>
                    <!--土-->
                    <td>12</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_sunday">13</td>
                    <!--月-->
                    <td>14</td>
                    <!--火-->
                    <td>15</td>
                    <!--水-->
                    <td>16</td>
                    <!--木-->
                    <td class="calendar_holiday">17</td>
                    <!--金-->
                    <td>18</td>
                    <!--土-->
                    <td>19</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">20</td>
                    <!--月-->
                    <td class="calendar_holiday">21</td>
                    <!--火-->
                    <td>22</td>
                    <!--水-->
                    <td>23</td>
                    <!--木-->
                    <td>24</td>
                    <!--金-->
                    <td>25</td>
                    <!--土-->
                    <td>26</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">27</td>
                    <!--月-->
                    <td>28</td>
                    <!--火-->
                    <td>29</td>
                    <!--水-->
                    <td>30</td>
                    <!--木-->
                    <td>31</td>
                    <!--金-->
                    <td></td>
                    <!--土-->
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="calendar_box_right">
        <table class="calendar">
            <caption class="calendar_monthly">2022年04月</caption>
            <thead>
                <tr>
                    <th>日</th>
                    <th>月</th>
                    <th>火</th>
                    <th>水</th>
                    <th>木</th>
                    <th>金</th>
                    <th>土</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--日-->
                    <td class="calendar_sunday"></td>
                    <!--月-->
                    <td></td>
                    <!--火-->
                    <td></td>
                    <!--水-->
                    <td></td>
                    <!--木-->
                    <td></td>
                    <!--金-->
                    <td>1</td>
                    <!--土-->
                    <td>2</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">3</td>
                    <!--月-->
                    <td>4</td>
                    <!--火-->
                    <td>5</td>
                    <!--水-->
                    <td>6</td>
                    <!--木-->
                    <td>7</td>
                    <!--金-->
                    <td>8</td>
                    <!--土-->
                    <td>9</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">10</td>
                    <!--月-->
                    <td>11</td>
                    <!--火-->
                    <td>12</td>
                    <!--水-->
                    <td>13</td>
                    <!--木-->
                    <td>14</td>
                    <!--金-->
                    <td>15</td>
                    <!--土-->
                    <td>16</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_sunday">17</td>
                    <!--月-->
                    <td>18</td>
                    <!--火-->
                    <td>19</td>
                    <!--水-->
                    <td>20</td>
                    <!--木-->
                    <td class="calendar_holiday">21</td>
                    <!--金-->
                    <td>22</td>
                    <!--土-->
                    <td>23</td>
                </tr>
                <tr>
                    <!--日-->
                    <td class="calendar_holiday">24</td>
                    <!--月-->
                    <td>25</td>
                    <!--火-->
                    <td>26</td>
                    <!--水-->
                    <td>27</td>
                    <!--木-->
                    <td>28</td>
                    <!--金-->
                    <td>29</td>
                    <!--土-->
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="icon_holiday"><img src="img/index/icon_holiday.png" alt="休診日"></p>
</div>