@charset "utf-8";


html {
	font-size: 62.5%; /* 10px */
	}

body{
	margin: 0;
	padding: 0;
	border: 0 none;
	font-size:14px;
	font-size:1.4rem;
	font-feature-settings: "palt";
	background-color:#ffffff;
	color: #333333;
	font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
/*	font-family: "メイリオ", Meiryo ,Verdana , "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, sans-serif;*/
/*	font-family: Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Meiryo, "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;*/}

@media all and (-ms-high-contrast:none) {
	body {
		font-family: "游ゴシック",YuGothic,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;}
}

p{
	line-height: 1.4;}

html,a,form,div,table,ul,ol,li,dl,h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
	border: 0 none;}
	
h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;}
	
img{
	margin:0;
	padding:0;
	border: 0 none;
	vertical-align:top;}
	
video{
	margin:0;
	padding:0;
	border: 0 none;
	vertical-align:top;
}
	
ul{list-style-type: none;}

td{text-align:left;}

a{-webkit-tap-highlight-color: transparent;}
	
@media (max-width: 813px)  {
	
html, body {
	width: 100%;}
	
.wrap {
	overflow: hidden;}}



/*====================================
basic
====================================*/

.box1200, .box1200_100{
	width: 100%;
	max-width:1200px;
	margin: 0 auto;	}
	
.box1170, .box1170_100{
	width: 100%;
	max-width:1170px;
	margin: 0 auto;	}
	
.box1080, .box1080_100{
	width: 100%;
	max-width:1080px;
	margin: 0 auto;	}
	
.box1030, .box1030_100{
	width: 100%;
	max-width:1030px;
	margin: 0 auto;	}
	
.box1020, .box1000_100{
	width: 100%;
	max-width:1020px;
	margin: 0 auto;	}
	
.box1000, .box1000_100{
	width: 100%;
	max-width:1000px;
	margin: 0 auto;	}
	
.box960, .box960_100{
	width: 100%;
	max-width:960px;
	margin: 0 auto;	}
	
.box750, .box750_100{
	width: 100%;
	max-width:750px;
	margin: 0 auto;}
	
.m-lr15{
	margin:0 15px;}
	
@media (max-width: 813px)  {

.box1200, .box1170, .box1080, .box1030, .box1020, .box1000, .box960, .box750{
	width:96%;}

.box1200_100, .box1170_100, .box1080_100, .box1030_100, .box1020_100, .box1000_100, .box960_100, .box750_100{
	width:100%;}}
	
@media (max-width: 520px)  {
	
.m-lr15{
	margin:0 2.88vw;}}

.br960{
	display:none;}

.br850{
	display:none;}
	
.br520{
	display:none;}
	
.br750{
	display:none;}

@media only screen and (max-width: 960px) {
.br960{
	display:block;}
	
.br-960none{
	display:none;}}

@media only screen and (max-width: 850px) {
.br850{
	display:block;}
	
.br-850none{
	display:none;}}

@media only screen and (max-width: 750px) {
.br750{
	display:block;}
	
.br-750none{
	display:none;}}
	
@media only screen and (max-width: 520px) {
.br520{
	display:block;}
	
.br-520none{
	display:none;}}
	
.viewmb {
	display: none;}
	
.viewtb {
	display: none;}

.view_mb_tb{
	display: none;}
	
@media (max-width: 813px)  {
	
.viewpc {
	display: none;}
	
.viewpc_only {
	display: none;}
	
.viewmb {
	display: block;}
	
.view_mb_tb{
	display: block;}}
	
.btn:hover {
	filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;}
	
.position_r {
	position:relative;}



/*====================================
float
====================================*/
.flL {
	float:left;
	display: block;}

.flR {
	float:right;
	display: block;}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;}
	
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */



/*====================================
padding
====================================*/

.pa0  { padding:  0px !important; }
.pa3  { padding:  3px !important; }
.pa5  { padding:  5px !important; }
.pa10 { padding: 10px !important; }
.pa15 { padding: 15px !important; }
.pa20 { padding: 20px !important; }
.pa25 { padding: 25px !important; }

.pt0  { padding-top:  0px !important; }
.pt4  { padding-top:  4px !important; }
.pt5  { padding-top:  5px !important; }
.pt8  { padding-top:  8px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt16 { padding-top: 16px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt32 { padding-top: 32px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt60 { padding-top: 60px !important; }
.pt70 { padding-top: 70px !important; }
.pt80 { padding-top: 80px !important; }
.pt90 { padding-top: 90px !important; }
.pt100 { padding-top: 100px !important; }
.pt110 { padding-top: 110px !important; }
.pt120 { padding-top: 120px !important; }
.pt160 { padding-top: 160px !important; }
.pt170 { padding-top: 170px !important; }
.pt180 { padding-top: 180px !important; }
.pt200 { padding-top: 200px !important; }


.pr0  { padding-right:  0px !important; }
.pr5  { padding-right:  5px !important; }
.pr8  { padding-right:  8px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr16 { padding-right: 16px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr60 { padding-right: 60px !important; }

.pb0  { padding-bottom:  0px !important; }
.pb5  { padding-bottom:  5px !important; }
.pb8  { padding-bottom:  8px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb100 { padding-bottom: 100px !important; }
.pb110 { padding-bottom: 110px !important; }
.pb120 { padding-bottom: 120px !important; }

.pl0  { padding-left:  0px !important; }
.pl4  { padding-left:  4px !important; }
.pl5  { padding-left:  5px !important; }
.pl8  { padding-left:  8px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl16 { padding-left: 16px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl60 { padding-left: 60px !important; }




/*====================================
margin
====================================*/

.ma0  { margin:  0px !important; }
.ma5  { margin:  5px !important; }
.ma10 { margin: 10px !important; }
.ma15 { margin: 15px !important; }
.ma20 { margin: 20px !important; }

.mt0  { margin-top:  0px !important; }
.mt5  { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }
.mt110 { margin-top: 110px !important; }
.mt170 { margin-top: 170px !important; }
.mt180 { margin-top: 180px !important; }
.mt200 { margin-top: 200px !important; }

.mr0  { margin-right:  0px !important; }
.mr5  { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }

.mb0  { margin-bottom:  0px !important; }
.mb5  { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml0   { margin-left:   0px !important; }
.ml5   { margin-left:   5px !important; }
.ml10  { margin-left:  10px !important; }
.ml15  { margin-left:  15px !important; }
.ml20  { margin-left:  20px !important; }
.ml25  { margin-left:  25px !important; }
.ml30  { margin-left:  30px !important; }
.ml35  { margin-left:  35px !important; }
.ml40  { margin-left:  40px !important; }
.ml45  { margin-left:  45px !important; }
.ml50  { margin-left:  50px !important; }
.ml100 { margin-left: 100px !important; }
.ml120 { margin-left: 120px !important; }

.ma_auto { margin-left: auto; margin-right: auto; }

/*====================================
other
====================================*/

.vtop {
	vertical-align: top;}

.btn a:hover img{
	filter:alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;}

.btnxx:hover{
	cursor: default;}
	
a.a__nodeco{
	color:inherit;
	text-decoration:none;}
	
.no_hovbox01 a{
	color: inherit;
	text-decoration:none;
	cursor: default;}


/*====================================
table
====================================*/
td{
text-align:left;}

.td_center{
text-align:center;}

.td_right{
text-align:right;}


/*====================================
font
====================================*/

/* 明朝 */
.tx_mincho {
	font-family: '游明朝', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', 'ＭＳ 明朝', serif;}
	
.tx_cg {
	font-family: 'Century Gothic', '游ゴシック', 'YuGothic';}

.bold {
font-weight: bold;}

.tx_L {
	text-align:left;}
	
.tx_R {
	text-align:right;}
	
.tx_C {
	text-align:center;}
	
.tx_C_L {
	text-align:center;}
	
.tx10 {
font-size:10px;
font-size:1.0rem;}

.tx12 {
font-size:12px;
font-size:1.2rem;}

.tx14 {
font-size:14px;
font-size:1.4rem;}

.tx16 {
font-size:16px;
font-size:1.6rem;}

.tx18 {
font-size:18px;
font-size:1.8rem;}

.tx20 {
font-size:20px;
font-size:2.0rem;}

.tx22 {
font-size:22px;
font-size:2.2rem;}

.tx24 {
font-size:24px;
font-size:2.4rem;}

.tx26 {
font-size:26px;
font-size:2.6rem;}

.tx28 {
font-size:28px;
font-size:2.8rem;}

.tx30 {
font-size:30px;
font-size:3.0rem;}

.tx32 {
font-size:32px;
font-size:3.2rem;}

.tx34 {
font-size:34px;
font-size:3.4rem;}

.tx36 {
font-size:36px;
font-size:3.6rem;}

.tx38 {
font-size:38px;
font-size:3.8rem;}

.tx40 {
font-size:40px;
font-size:4.0rem;}

.tx42 {
font-size:42px;
font-size:4.2rem;}

.tx44 {
font-size:44px;
font-size:4.4rem;}

.tx46 {
font-size:46px;
font-size:4.6rem;}

.tx48 {
font-size:48px;
font-size:4.8rem;}

.tx50 {
font-size:50px;
font-size:5.0rem;}

.tx60 {
font-size:60px;
font-size:6.0rem;}

.tx68 {
font-size:68px;
font-size:6.8rem;}

.tx70 {
font-size:70px;
font-size:7.0rem;}

.tx80 {
font-size:80px;
font-size:8.0rem;}

.tx110 {
font-size:110px;
font-size:11.0rem;}

@media (max-width: 813px)  {
.tx_C_L {
	text-align: left;}}

.tx_125 {
	line-height:1.25;}
	
.tx_145 {
	line-height:1.45;}
	
.tx_175 {
	line-height:1.75;}
	
.tx_200 {
	line-height:2.0;}

.tx_red{
	color: #CB0504;}
	
.tx_wh {
	color: #FFFFFF;}
	
.tx_bk0 {
	color:#000;}
	
.tx_bk3 {
	color:#333333;}
	
.tx_9BCA42{
	color:#9BCA42;}

.tx_0688B4{
	color:#0688B4;}

.tx_7BC8EC{
	color:#7BC8EC;}

.tx_00A3EA{
	color:#00A3EA;}

.ls_-002 {
	letter-spacing:-0.05em;}
	
.ls_-005 {
	letter-spacing:-0.05em;}
	
.ls_002 {
	letter-spacing:0.05em;}

.ls_005 {
	letter-spacing:0.05em;}
	
	
	
/*====================================
box
====================================*/

.box_0{
	margin: 0;
	padding: 0;}

.box_0center{
	margin: 0 auto;
	padding: 0;}

.newswrap{
	width:480px; height:360px;
	overflow:hidden;
	position:relative;
	border:1px solid #E37879;}



/*===================================
clearfix
====================================*/
.clear:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;}
	
.clear {
	min-height: 1px;}
	
* html .clear {
	height: 1px;
/* Hides from IE-mac \*//*/
	height: auto;
	overflow: hidden;
/* End hide from IE-mac */
}
/*----------------------------------*/
.clear0 {
	clear: both;
	height: 0px;}



/*====================================
hidden
====================================*/
em{
	display: block;
	text-indent: -9999px;}
	
/*MacIE HACK------------------- \*//*/
em{
	height:0px;
	width:0px;
	overflow:hidden;
}

*/



/*====================================
fadein
====================================*/
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;}

@media (max-width: 813px)  {
.fadein {
	opacity : 1.0;
	transform: none;
	transition: none;}
}




/*====================================
border
====================================*/

/* a_all, t_top, b_bottom, r_right, l_left */
/*  */

.border_b-1-1{
	border-bottom:1px #111 solid;}
	
.border_b-1-3{
	border-bottom:1px #333 solid;}	

.border-r_6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;}
	
.border-r_12 {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;}
	
.border_a-y_7{
	background: linear-gradient(transparent 70%, #FFFF73 70%);}



/*====================================
border-r
====================================*/
	
.b-sd_6 {
box-shadow : 6px 6px 3px rgba(0, 0, 0, 0.1);  /* 影の設定 */}



/*====================================
fade
====================================*/

.fadeInUpObj, .fadeInObj{visibility:hidden;}

/* animate.css */
.animated, .fadeInUp, .fadeOutDown, .fadeIn, .fadeOut{
    visibility: visible;}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;}
  
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;}
  
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;}

.tra_03{
	transition:0.3s;}
