<header>
    <div class="inner header_inner">
        <p class="logo">
            <a href="http://yawara.clinic/"><img src="/img/common/logo.png" width="300" height="58" alt="和皮膚科クリニック"></a>
        </p>
        <p class="tel">
            <img src="/img/common/scheduleHeader_2024.webp" width="550" height="92" alt="06-6881-1000">
        </p>
    </div>
    <!-- /.inner -->

    <nav id="menu_pc">
        <div class="inner">
            <ul class="gnav">
                <li><a href="https://yawara.clinic/index.html">ホーム</a></li>
                <li><a href="https://yawara.clinic/about.html">当院について</a></li>
                <li class="subnav"><a href="https://yawara.clinic/medical/index.html">診療のご案内</a>
                    <ul>
                        <li><a href="https://yawara.clinic/medical/medical_menu.html">保険診療</a></li>
                        <li><a href="https://yawara.clinic/medical/medical_expenses.html">自費診療</a></li>
                        <li><a href="https://yawara.clinic/medical/medical_cosmetics.html">ドクターズコスメ</a></li>
                    </ul>
                <li><a href="https://yawara.clinic/question/index.html">よくあるご質問</a></li>
                <li><a href="https://yawara.clinic/access.html">アクセス</a></li>
                <li><a href="https://yawara.clinic/contact/index.html">お問い合わせ</a></li>
            </ul>
        </div>
        <!-- /.inner -->
    </nav>

    <!-- SP(ドロワーメニュー) -->
    <div id="menu_sp" class="menu_sp" role="banner">

        <!-- ハンバーガーボタン -->
        <input type="checkbox" id="menu-checkbox" class="menu-checkbox">
        <label for="menu-checkbox" class="drawer-toggle drawer-hamburger label-drawer-hamburger">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </label>

        <!-- SP TELボタン -->
        <a class="sp-tel" href="tel:0668811000" aria-label="TEL"><img src="/img/index/sp-tel.webp" alt="TEL" width="45" height="45"></a>

        <!-- ナビゲーションの中身 -->
        <label class="drawer-blackscreen" for="menu-checkbox"></label>
        <nav class="drawer-nav">
            <ul class="drawer-menu">
                <li><a href="https://yawara.clinic/index.html">ホーム</a></li>
                <li><a href="https://yawara.clinic/about.html">当院について</a></li>
                <li class="nav_sp"><a href="/medical/index.html">診療のご案内</a></li>
                <ul class="subnav_sp">
                    <li><a href="https://yawara.clinic/medical/medical_menu.html">保険診療</a></li>
                    <li><a href="https://yawara.clinic/medical/medical_expenses.html">自費診療</a></li>
                    <li><a href="https://yawara.clinic/medical/medical_cosmetics.html">ドクターズコスメ</a></li>
                </ul>
                <li><a href="https://yawara.clinic/column/">コラム</a></li>
                <li><a href="https://yawara.clinic/question/index.html">よくあるご質問</a></li>
                <li><a href="https://yawara.clinic/schedule/index.html">診療時間</a></li>
                <li><a href="https://yawara.clinic/access.html">アクセス</a></li>
                <li><a href="https://yawara.clinic/contact/index.html">お問い合わせ</a></li>
            </ul>
        </nav>
    </div>
</header>