<!-- selfList要素が偶数個になるときは、component_self.css内のselfListWrapperの疑似要素をコメントアウト -->

<div class="selfListWrapper">
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#nmn">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu6_sp.webp" width="201" height="200" alt="美肌イメージ" />
            <p class="topic-list">
                <span class="menu-title">NMN点滴</span><br>
                <span class="menu-txt">アンチエイジング</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#shiratama">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu4_sp.webp" width="200" height="200" alt="栄養イメージ" />
            <p class="topic-list">
                <span class="menu-title">点滴バー</span><br>
                <span class="menu-txt">あなた好みに組み合わせ</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <!-- <a class="selfList" href="https://yawara.clinic/medical/botox/">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu5_sp.webp" width="200" height="200" alt="脇汗・多汗症イメージ" />
            <p class="topic-list">
                <span class="menu-title">脇汗・多汗症治療</span><br>
                <span class="menu-txt">ボトックス注射の制汗治療</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a> -->
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#acne">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu1.webp" width="200" height="200" alt="美肌イメージ2" />
            <p class="topic-list">
                <span class="menu-title">ニキビ治療</span><br>
                <span class="menu-txt">ニキビ跡が残りにくい</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#slim">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu2.webp" width="200" height="200" alt="くびれイメージ" />
            <p class="topic-list">
                <span class="menu-title">足痩せ・部分痩せ</span><br>
                <span class="menu-txt">脂肪冷却で余分な脂肪を除去</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#dermapen">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu7.webp" width="200" height="200" alt="ダーマペン">
            <p class="topic-list"><span class="menu-title">ダーマペン</span>
                <br><span class="menu-txt">ニキビ跡・毛穴の開き<br>・小ジワを改善</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#aga">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/img_menu8.webp" width="200" height="200" alt="男性型脱毛症(AGA)" />
            <p class="topic-list">
                <span class="menu-title">男性型脱毛症(AGA)</span><br>
                <span class="menu-txt">男性型脱毛症の治療</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#peeling">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/thumbnail_peeling.webp" width="200" height="200"
                alt="ピーリングのイメージ画像" />
            <p class="topic-list">
                <span class="menu-title">ピーリング</span><br>
                <span class="menu-txt">角質除去効果が大きい、美肌ピーリング。</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#ion">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/thumbnail_ion.webp" width="200" height="200" alt="イオン導入のイメージ画像" />
            <p class="topic-list">
                <span class="menu-title">イオン導入</span><br>
                <span class="menu-txt">美白やニキビの赤い跡の改善に。</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
    <a class="selfList" href="https://yawara.clinic/medical/medical_expenses.html#pierce">
        <div class="selfList__content">
            <img src="https://yawara.clinic/img/index/thumbnail_pierce.webp" width="200" height="200"
                alt="ピアス穴あけのイメージ画像" />
            <p class="topic-list">
                <span class="menu-title">ピアス穴あけ</span><br>
                <span class="menu-txt">日本皮膚科学会認定皮膚科専門医が施術。</span>
            </p>
        </div>
        <img src="/img/common/arrow_circle.webp" alt="" width="116" height="116" class="selfList__arrow">
    </a>
</div>